In [45]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline
import pickle

In [46]:
import os
os.getcwd()

'C:\\Users\\harleyquinn\\Documents\\GitHub\\Bollywood_movie_analysis\\wikipedia-data'

In [47]:
os.chdir("C:\\Users\\harleyquinn\\Documents\\GitHub\\Bollywood_movie_analysis\\wikipedia-data")

In [48]:
df= pd.read_csv('female_mentions_centrality.csv')

In [49]:
df

,MOVIE NAME,CAST,MENTIONS,TOTAL CENTRALITY,COUNT,AVERAGE CENTRALITY
0,Aan Milo Sajna,woman,2.0,222.500000,12.0,18.541667
1,Aan Milo Sajna,savitri,11.0,868.166667,131.0,6.627226
2,Aan Milo Sajna,deepali,4.0,0.000000,89.0,0.000000
3,Abhinetri,anjana,9.0,319.000000,79.0,4.037975
4,Aag Aur Shola,usha,6.0,48.000000,54.0,0.888889
...,...,...,...,...,...,...
5043,Rab Ne Bana Di Jodi,daughter,1.0,243.000000,19.0,12.789474
5044,Rab Ne Bana Di Jodi,taani,81.0,6975.333333,596.0,11.703579
5045,Ghajini,sunita,22.0,565.500000,242.0,2.336777
5046,Ghajini,kalpana,20.0,624.166667,187.0,3.337790
5047,Jumbo,mother,4.0,116.833333,60.0,1.947222

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5048 entries, 0 to 5047
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MOVIE NAME          5048 non-null   object
 1   CAST                5036 non-null   object
 2   MENTIONS            5043 non-null   float64
 3   TOTAL CENTRALITY    5043 non-null   float64
 4   COUNT               5043 non-null   float64
 5   AVERAGE CENTRALITY  5043 non-null   float64
dtypes: float64(4), object(2)
memory usage: 236.8+ KB

In [51]:
df=df.drop('MOVIE NAME',axis=1)
df=df.drop('CAST',axis=1)
df

      MENTIONS  TOTAL CENTRALITY  COUNT  AVERAGE CENTRALITY
0          2.0        222.500000   12.0           18.541667
1         11.0        868.166667  131.0            6.627226
2          4.0          0.000000   89.0            0.000000
3          9.0        319.000000   79.0            4.037975
4          6.0         48.000000   54.0            0.888889
...        ...               ...    ...                 ...
5043       1.0        243.000000   19.0           12.789474
5044      81.0       6975.333333  596.0           11.703579
5045      22.0        565.500000  242.0            2.336777
5046      20.0        624.166667  187.0            3.337790
5047       4.0        116.833333   60.0            1.947222

[5048 rows x 4 columns]

In [52]:
df.fillna(value=1, inplace = True)

In [53]:
df.isna().sum()

MENTIONS              0
TOTAL CENTRALITY      0
COUNT                 0
AVERAGE CENTRALITY    0
dtype: int64

In [54]:
X=df.drop('TOTAL CENTRALITY',axis=1)
y=df['TOTAL CENTRALITY']

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [55]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(random_state = 0)

In [56]:
X_train

      MENTIONS  COUNT  AVERAGE CENTRALITY
4288       7.0   49.0            0.000000
1258       1.0   12.0           16.416667
3738       2.0    7.0            0.000000
3515       0.0   39.0           21.884615
1116      15.0   97.0            1.649485
...        ...    ...                 ...
4426       0.0   65.0            4.846154
466        7.0   85.0            1.247059
3092       9.0   78.0            2.361416
3772      11.0   94.0            2.808511
860       10.0  104.0            2.133814

[3786 rows x 3 columns]

In [57]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(random_state = 0)
regressor.fit(X_train, Y_train)

RandomForestRegressor(random_state=0)

In [58]:
Y_pred = regressor.predict(X_test)

In [59]:
cutoff = 0.7                              
y_pred_classes = np.zeros_like(Y_pred)    
y_pred_classes[Y_pred > cutoff] = 1

In [60]:
y_test_classes = np.zeros_like(Y_pred)
y_test_classes[Y_test > cutoff] = 1

In [61]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_classes, y_pred_classes)

print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[ 159    4]
 [   0 1099]]

In [62]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test_classes, y_pred_classes))

Accuracy :  0.9968304278922345

# Input

In [63]:
inputo=np.array([[1.0,12.0,16.416667]])

# Output

In [64]:
y_pred=regressor.predict(inputo)
y_pred=y_pred[0]
y_pred

c:\Users\harleyquinn\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

199.36499999999995