In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline

In [2]:
import os
os.getcwd()

'c:\\Users\\harleyquinn\\Documents\\GitHub\\Bollywood_movie_analysis\\final'

In [3]:
os.chdir("C:\\Users\\harleyquinn\\Documents\\GitHub\\Bollywood_movie_analysis\\wikipedia-data")

In [4]:
df= pd.read_csv('male_mentions_centrality.csv')

In [5]:
df

,MOVIE NAME,CAST,MENTIONS,TOTAL CENTRALITY,COUNT,AVERAGE CENTRALITY
0,Aan Milo Sajna,anil,13.0,9219.200000,131.0,70.375573
1,Bachpan,tom,11.0,29.000000,59.0,0.491525
2,Bachpan,father,5.0,469.333333,63.0,7.449735
3,Bachpan,rahim,2.0,0.000000,29.0,0.000000
4,Aag Aur Shola,nagesh,4.0,94.000000,38.0,2.473684
...,...,...,...,...,...,...
9348,Jumbo,father,12.0,517.666667,114.0,4.540936
9349,Jumbo,akshay,2.0,429.500000,47.0,9.138298
9350,Jumbo,bakhtavar,6.0,267.666667,47.0,5.695035
9351,Jumbo,elephant,11.0,640.833333,106.0,6.045597
9352,Jumbo,prince,5.0,95.666667,52.0,1.839744

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9353 entries, 0 to 9352
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MOVIE NAME          9353 non-null   object
 1   CAST                9298 non-null   object
 2   MENTIONS            9348 non-null   float64
 3   TOTAL CENTRALITY    9348 non-null   float64
 4   COUNT               9348 non-null   float64
 5   AVERAGE CENTRALITY  9348 non-null   float64
dtypes: float64(4), object(2)
memory usage: 438.5+ KB

In [7]:
df=df.drop('MOVIE NAME',axis=1)
df=df.drop('CAST',axis=1)
df

      MENTIONS  TOTAL CENTRALITY  COUNT  AVERAGE CENTRALITY
0         13.0       9219.200000  131.0           70.375573
1         11.0         29.000000   59.0            0.491525
2          5.0        469.333333   63.0            7.449735
3          2.0          0.000000   29.0            0.000000
4          4.0         94.000000   38.0            2.473684
...        ...               ...    ...                 ...
9348      12.0        517.666667  114.0            4.540936
9349       2.0        429.500000   47.0            9.138298
9350       6.0        267.666667   47.0            5.695035
9351      11.0        640.833333  106.0            6.045597
9352       5.0         95.666667   52.0            1.839744

[9353 rows x 4 columns]

In [8]:
df.fillna(value=1, inplace = True)

In [9]:
df.isna().sum()

MENTIONS              0
TOTAL CENTRALITY      0
COUNT                 0
AVERAGE CENTRALITY    0
dtype: int64

In [10]:
X=df.drop('TOTAL CENTRALITY',axis=1)
y=df['TOTAL CENTRALITY']

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [11]:
from sklearn.ensemble import RandomForestRegressor
classifier = RandomForestRegressor(random_state = 0)

In [12]:
X_train

      MENTIONS  COUNT  AVERAGE CENTRALITY
815        1.0    7.0            3.714286
2131      15.0  194.0            3.345361
7565       7.0  176.0            5.784262
3946      23.0  183.0           40.908087
6134      14.0  144.0            2.444444
...        ...    ...                 ...
5734       6.0  129.0            5.085271
5191       1.0    8.0            1.625000
5390       3.0   54.0            8.145062
860        1.0   13.0            4.153846
7270       2.0   30.0            0.300000

[7014 rows x 3 columns]

In [13]:
from sklearn.ensemble import RandomForestRegressor
classifier = RandomForestRegressor(random_state = 0)
classifier.fit(X_train, Y_train)

RandomForestRegressor(random_state=0)

In [14]:
Y_pred = classifier.predict(X_test)

In [15]:
cutoff = 0.7                              
y_pred_classes = np.zeros_like(Y_pred)    
y_pred_classes[Y_pred > cutoff] = 1

In [17]:
y_test_classes = np.zeros_like(Y_pred)

In [18]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_classes, y_pred_classes)

print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[ 376 1963]
 [   0    0]]

In [19]:
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test_classes, y_pred_classes))

Accuracy :  0.16075245831551946

In [20]:
inputo=np.array([[1.0,7.0,3.714286]])

In [21]:
y_pred=classifier.predict(inputo)
y_pred=y_pred[0]
y_pred

c:\Users\harleyquinn\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

26.07